.header-links {
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 0 1rem 0 #a0daff;
  padding: 0 1.5rem;
}

.profile {
  border-radius: 2rem;
  /* justify-self: center; */
  width: 85%;
}

.intro {
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;

  gap: 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.intro-content-container {
  max-width: 70rem;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
}

.content {
  font-size: 1.6rem;
}

.content span {
  display: block;
  background: linear-gradient(to right, #e4c46a, #97d4f0, #a0daff, #4bb9ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list {
  margin-left: 2rem;
}

.list li {
  list-style-type: disc !important;
}
