.main {
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;
}

.section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.cards {
  border: 2px solid #e4c46a;
  padding: 2rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards img {
  height: 10rem;
  margin-bottom: 1rem;
}

.card-logo {
  aspect-ratio: 3/2;
  max-width: 10rem;
}
